@use "../../scss/index" as *;

.product-card {
  $image-size: 300px;
  $small-image-size: 200px;
  $no-image-icon-size: 80px;

  display: flex;
  flex-direction: row;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas: ". img img img info info info info info actions actions .";

  &.is-small {
    grid-template-areas: ". img img info info info info info info actions actions .";
  }

  &__image-wrapper {
    grid-area: img;
  }

  &__image {
    width: $image-size;
    height: $image-size;
    object-fit: cover;
    border-radius: 10px;

    &.is-small {
      width: $small-image-size;
      height: $small-image-size;
    }
  }

  &__no-image {
    width: $image-size;
    height: $image-size;
    background-color: lighten-2($color-french-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

    &.is-small {
      width: $small-image-size;
      height: $small-image-size;
    }
  }

  &__no-image-icon {
    font-size: $no-image-icon-size;
    color: darken-1($color-french-gray);
  }

  &__product-information {
    grid-area: info;
    margin-left: $space-3;
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &__product-title {
    @extend %h3-sans;

    font-weight: $font-weight-semibold;

    color: $color-eerie-black;
  }

  &__product-description {
    @extend %body-sans;

    color: $color-gunmetal-gray;
  }

  &__product-tags-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    column-gap: $space-1;
    margin-top: $space-3;
    flex-wrap: wrap;
    row-gap: $space-1;
  }

  &__product-tag {
    @extend %body-small-sans;

    background-color: $color-cerulean-blue;
    padding: $space-1 $space-2;
    color: $color-pure-white;
    font-weight: $font-weight-medium;
    border-radius: 20px;
  }

  &__product-pricing {
    display: flex;
    flex-direction: column;
    margin-top: $space-3;
  }

  &__product-previous-price {
    @extend %body-sans;

    font-weight: $font-weight-medium;
    color: $color-eerie-black;
  }

  &__product-current-price {
    @extend %h4-sans;

    font-weight: $font-weight-bold;
    color: darken-1($color-mint-green);
  }

  &__action-buttons-wrapper {
    grid-area: actions;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-end;
    row-gap: $space-1;
  }

  &__purchased-date-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    row-gap: $space-1;
  }

  &__product-rating-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: $space-1;
  }

  &__purchased-date-label,
  &__product-rating-label {
    @extend %body-sans;

    font-weight: $font-weight-medium;
  }

  &__purchased-date-text {
    @extend %body-sans;

    color: $color-dogwood-rose;
    font-weight: $font-weight-bold;
  }

  &__button-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}
