@use "../../scss/index" as *;

.register-page {
  $form-container-border-color: $color-platinum-gray;
  $main-header-text-color: $color-cerulean-blue;
  $default-text-color: $color-eerie-black;
  $create-account-anchor-text-color: $color-cerulean-blue;

  &__header {
    display: flex;
    justify-content: center;
    margin-top: $space-4;
  }

  &__form-container {
    max-width: 600px;
    margin: 0 auto;
    margin-top: $space-6;
    padding: $space-5;
    border: 2px solid $form-container-border-color;
    border-radius: 10px;
  }

  &__main-header {
    @extend %h3-sans;

    @include gradient-text($main-header-text-color);
  }

  &__sub-title-text {
    @extend %body-sans;

    margin-top: $space-2;
    color: $default-text-color;
    font-weight: $font-weight-bold;
  }

  &__form-controls-wrapper {
    margin-top: $space-3;
    display: flex;
    flex-direction: column;
    row-gap: $space-1;
  }

  &__already-have-an-account-text {
    @extend %body-small-sans;

    color: $default-text-color;
    font-weight: $font-weight-semibold;
    margin-top: $space-3;
  }

  &__log-in-anchor {
    color: $create-account-anchor-text-color;
  }
}
