@use "../../scss/index.scss" as *;

.app-logo {
  $app-logo-icon-color: $color-amaranth-red;
  $app-logo-text-color: $color-gunmetal-black;
  $app-logo-text-hover-color: $color-amaranth-red;

  appearance: none;
  background: none;
  border: none;

  &__app-logo-text {
    @extend %body-sans;

    font-weight: $font-weight-bold;
    display: flex;
    align-items: center;
    color: $app-logo-text-color;
    cursor: pointer;
    transition: 0.25s ease color;

    &:hover {
      color: $app-logo-text-hover-color;
    }

    &.is-large {
      @extend %h3-sans;
    }
  }

  &__app-logo-icon {
    color: $app-logo-icon-color;
  }
}
