@use "../../scss/index" as *;

.home-page {
  $app-logo-icon-color: $color-amaranth-red;
  $app-logo-text-color: $color-gunmetal-black;
  $log-in-button-text-color: $color-gunmetal-black;
  $log-in-button-text-hover-color: $color-amaranth-red;
  $search-box-border-color: $color-light-gray;
  $search-box-icon-color: $color-gunmetal-black;
  $search-box-icon-hover-color: $color-amaranth-red;
  $search-box-button-background-color: lighten-2($color-light-gray);
  $heading-text-color: $color-amaranth-red;

  // TODO: Decide if this should be kept.
  // &__background {
  //   width: 100vw;
  //   height: 100vh;
  //   position: absolute;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  // }

  // TODO: Decide if this should be kept.
  // &__background-shape {
  //   width: 100%;
  //   height: 100%;
  //   background: linear-gradient(to right, #c2095a, #f71735);
  //   clip-path: polygon(50% 0%, 36% 32%, 100% 75%, 77% 45%, 7% 91%, 50% 49%);
  // }

  &__foreground {
    width: 100vw;
    height: 100vh;
    // TODO: Decide if this should be kept.
    // background-color: transparentize(lightgray, 0.6);
    // backdrop-filter: blur(70px);
    display: flex;
    flex-direction: column;
  }

  &__navbar {
    padding: $space-2 $space-3;
    box-shadow: 0px 1px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__app-logo {
    @extend %body-sans;

    font-weight: $font-weight-bold;
    display: flex;
    align-items: center;
    color: $app-logo-text-color;
    cursor: pointer;

    background: $app-logo-text-color;

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    &:hover {
      background: -webkit-linear-gradient(
        left,
        $color-amaranth-red,
        lighten-1($color-amaranth-red)
      );

      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__app-logo-icon {
    color: $app-logo-icon-color;
    margin-right: $space-1;
  }

  &__search-box-container {
    display: none;

    @include breakpoint-min(bp(small)) {
      display: flex;
      flex-direction: row;
    }
  }

  &__search-box {
    @extend %body-sans;

    appearance: none;
    border: none;
    background: none;
    border-radius: 10px 0 0 10px;
    padding: $space-2 $space-2;
    border: 1px solid $search-box-border-color;
    height: $space-4;
    font-weight: $font-weight-medium;
  }

  &__search-box-button {
    appearance: none;
    border: none;
    background: $search-box-button-background-color;
    border: 1px solid $search-box-border-color;
    border-left: none;
    border-radius: 0 10px 10px 0;
    padding: 0 $space-1;
    color: $search-box-icon-color;
    transition: 0.25s ease color;
    cursor: pointer;

    &:hover,
    &:active {
      color: $search-box-icon-hover-color;
    }
  }

  &__log-in-button {
    background: none;
    appearance: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  &__log-in-button-text {
    @extend %body-sans;

    font-weight: $font-weight-bold;
    color: $log-in-button-text-color;
    transition: 0.25s ease color;

    &:hover {
      color: $log-in-button-text-hover-color;
    }
  }

  &__log-in-button-icon {
    margin-left: $space-1;
  }

  &__content {
    max-width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    text-align: center;
  }

  &__heading {
    @extend %h1-sans;

    @include gradient-text($heading-text-color);
  }

  &__paragraph {
    @extend %body-sans;

    margin-top: $space-2;
  }
}
