$color-amaranth-red: #e60b51;

$color-gunmetal-black: #2e3138;
$color-light-gray: #d3d3d3;
$color-pure-white: #ffffff;

@function monochrome-gradient($color: $color-amaranth-red, $degrees: 90deg) {
  @return linear-gradient($degrees, $color 0%, lighten-2($color) 100%);
}

@mixin gradient-text($color: $color-amaranth-red) {
  background: -webkit-linear-gradient(left, $color, lighten-2($color));

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

$color-adjust-1: 20%;
$color-adjust-2: 40%;
$color-adjust-3: 60%;

@function lighten-1($color) {
  @return scale-color($color, $lightness: $color-adjust-1);
}

@function lighten-2($color) {
  @return scale-color($color, $lightness: $color-adjust-2);
}

@function lighten-3($color) {
  @return scale-color($color, $lightness: $color-adjust-3);
}

@function lighten-4($color) {
  @return scale-color($color, $lightness: $color-adjust-4);
}

@function darken-1($color) {
  @return scale-color($color, $lightness: $color-adjust-1 * -1);
}

@function darken-2($color) {
  @return scale-color($color, $lightness: $color-adjust-2 * -1);
}

@function darken-3($color) {
  @return scale-color($color, $lightness: $color-adjust-3 * -1);
}

@function darken-4($color) {
  @return scale-color($color, $lightness: $color-adjust-4 * -1);
}
